workflows/ai-order-processing-pipeline.json
{
  "name": "ai-order-processing-pipeline copy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -192
      ],
      "id": "14e2888a-91f2-49f9-a585-45e24b42db23",
      "name": "Check for New Orders"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "filterByFormula": "={Status} = \"Pending\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -176,
        -192
      ],
      "id": "3cb9644c-8ef9-47be-8c93-df0581e56a46",
      "name": "Find Pending Orders",
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "In Progress",
            "id": "={{ $('Mark as Processing').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Shipped",
                  "value": "Shipped"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Processed",
              "displayName": "Email Processed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        848,
        -288
      ],
      "id": "a67c59da-2cdf-482b-9a4d-728ba68e8c7e",
      "name": "Mark as Shipped",
      "credentials": {
        "airtableTokenApi": {
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Find Pending Orders').item.json.id }}",
            "Status": "Error"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Shipped",
                  "value": "Shipped"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        848,
        -96
      ],
      "id": "ccd1fdbe-166c-4bc5-9ca4-3cd11a48f365",
      "name": "Mark as Error",
      "credentials": {
        "airtableTokenApi": {
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Processing",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Shipped",
                  "value": "Shipped"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Cancelled",
                  "value": "Cancelled"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        48,
        -192
      ],
      "id": "0c4697d6-213d-4207-8272-e3d09a205b09",
      "name": "Mark as Processing",
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "{{YOUR_OPERATIONS_EMAIL}}",
        "subject": "={{ $json.output[0].content[0].text.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -192
      ],
      "id": "89eebe2d-0a32-4ca2-9be8-91b1e8e8b961",
      "name": "Notify Operations Team",
      "webhookId": "b4d6a59a-9510-4618-a838-cc13bef689c0",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are responsible for preparing internal order notifications for the operations team.\n\nYour task is to review each new customer order and generate a professional email summarizing the order details. The email will be sent to the internal operations team so they can begin processing the order (for example, printing invoices, preparing shipments, or beginning fulfillment).\n\nUse only the information provided below. Do not invent or assume any additional information. If a field is missing, simply omit it or indicate that it was not provided.\n\nOrder Information\n\nOrder Number: {{ $json.fields['Order Number'] }}\nCustomer:{{ $json.fields.Customer }}\nProduct: {{ $json.fields.Product }}\nQuantity: {{ $json.fields.Quantity }}\nPrice: {{ $json.fields.Price }}\nOrder Date: {{ $json.fields.Date }}\nCurrent Status: {{ $json.fields.Status }}\n\nGenerate the following outputs:\n\nemail_subject\nemail_body\n\nRequirements:\n\nThe subject must always begin with:\nNew Customer Order Summary - Order #\nfollowed by the order number.\nThe email body should be well formatted with paragraphs where appropriate. Keep it very clean looking.\nInclude all available order information in a clear and professional format. Format example:\n\"Dear Operations Team,\n\nWe have received a new customer order that requires your attention.\nPlease find the details below:\n\nOrder Number: \nCustomer:\nProduct: \nQuantity: \nPrice: \nOrder Date: \nCurrent Status:\n\nPlease ensure that the necessary actions are taken to fulfill this order.\n\nBest regards,\nAutomated Order Processing System\n\"\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        -192
      ],
      "id": "81998d7a-b9ec-4ef9-b5fc-d72c34a5ca2f",
      "name": "Generate Order Summary",
      "credentials": {
        "openAiApi": {
          "name": "OpenAI Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check for New Orders": {
      "main": [
        [
          {
            "node": "Find Pending Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pending Orders": {
      "main": [
        [
          {
            "node": "Mark as Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processing": {
      "main": [
        [
          {
            "node": "Generate Order Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Operations Team": {
      "main": [
        [
          {
            "node": "Mark as Shipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Order Summary": {
      "main": [
        [
          {
            "node": "Notify Operations Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9475faf6-e9d0-46f9-9472-52cae91fece2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9533bc21eb6f47d40cf4607bf5513ba025b820fb69b43636fa64f9cfeb81ec54"
  },
  "nodeGroups": [],
  "id": "nP6f5D9jhZ6m5ilA",
  "tags": []
}